button{
    border-radius:50px;
    margin:30px;
    background-color:#ffdfd5;
}
img{
borde-radius:20px;
    
}
h1{
    color:brown;
}
body{
    background-color:grey;
}
th{
    color:#ffb355;
}
table{
    background-color:#ffffea;
    border-radius:10px;
}